<!DOCTYPE html>
<html>
<head>
    <title>Your Match</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap" rel="stylesheet">
    <style>
      body {
        background-color: #E83C74;
        font-family: "Emilys Candy", serif;
        color: white;
        margin: 0;
        padding: 0;
      }
      .center-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
      }

      h1 {
        font-size: 49px;
      }
    </style>
</head>
<body>
    <div class="center-text">
      <h1>On Feb 14 you will receive an email in your inbox with your match!</h1>
    </div>
</body>
</html>